@import url('https://fonts.googleapis.com/css?family=Muli|Quicksand&display=swap');

body {
  /*font-family: helvetica, arial, sans-serif;*/
  
  font-family: 'Lacquer', sans-serif;

  font-size: 14pt;
  background-color:  #778899;
  
}



.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: grey;
    padding: 10px;
  margin-top: 60px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.button {
  
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
div.button{
  margin: auto;
  padding-top:40px;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1{
    color: #FFFFFF;
    font-family: 'Lacquer', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    padding-bottom: 30px;
    padding-top: 40px;
    text-align: center;
    width: 100%;
}

iframe{
     
   
   display:block;
   left: 0;
   
   top: 0;
   width: 100%;
  
}
#panel {

  display: none;
}

.Icon {
    width: 430px;
    height: auto;
  margin: auto;
 display:none;
}

div.nav {
  margin-top:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.center{
  margin-top:20px;
  display: block;
  justify-content: center;
  align-items: center;
}
li.nav {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
div.form{
      float: none;
    margin-bottom: 40px;
    margin-top: 1px;
    max-width: 600px;
    width: 100%;
}

c {
  
    background-color: #696969;
  box-shadow: 0 5px 0 #404040;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

c:hover {
  background-color:  #a6a6a6;
  cursor: pointer;
}

c:active {
  box-shadow: none;
  top: 5px;
}
a.nav{
  
    background-color: #696969;
  box-shadow: 0 5px 0 #404040;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

a.nav:hover {
  background-color:  #a6a6a6;
  cursor: pointer;
}

a.nav:active {
  box-shadow: none;
  top: 5px;
}

div.logo{
   
  float: left;
  margin-left: 100px;
 
  
}

div.Index{
  margin-bottom: 20px;

   
   padding-bottom: 90px;
   padding-top: 10px;
}

div.myPicture{
   width: 50%;
    float: right;
  margin-right:8%
}
div.main{
  margin:auto;

  
   padding-top: 90px;
}
div.shortText{
 text-align: center;
 float: left;
  padding-left: 25px;
  margin-top:50%;
  
  border-left: 6px solid blue;
  background-color: lightgrey;
}

div.leftMain{
  width: 20%;
    float: left;
  margin-left:8%;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

ul.center {
  text-align: center;
  list-style-position: inside;
}