@import url('https://fonts.googleapis.com/css?family=Muli|Quicksand&display=swap');

body {
  /*font-family: helvetica, arial, sans-serif;*/
  
  font-family: 'Lacquer', sans-serif;
background-color:  #778899;
  font-size: 11pt;
  
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: grey;
    padding: 10px;
  margin-top: 40px;
}



div.nav {
  margin-top:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.nav {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}


c {
  
    background-color: #696969;
  box-shadow: 0 5px 0 #404040;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

c:hover {
  background-color:  #a6a6a6;
}

c:active {
  box-shadow: none;
  top: 5px;
}

div.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


b{
  
    background-color: #696969;
  box-shadow: 0 5px 0 #404040;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

b:hover {
  background-color:  #a6a6a6;
}

b:active {
  box-shadow: none;
  top: 5px;
}

a.active {
  text-decoration: underline;
}

div.logo{
   
  float: left;
  margin-left: 50px;

}
.Icon {
    width: 100%;
    height: auto;
  margin: auto;
  display:none;
}
div.Index{
  margin-bottom: 20px;

   
   padding-bottom: 90px;
   padding-top: 10px;
}

div.myPicture{
   width: 50%;
    float: right;
  margin-right:8%
}
div.main{
  margin:auto;

  
   padding-top: 90px;
}
button{
  float: left;
   width: 40%;
    height: auto;
  margin-top: 40px;

}
div.shortText{
 text-align: center;
 float: left;
  padding-left: 25px;
  margin-top:30%;
  
  border-left: 6px solid blue;
  background-color: lightgrey;
}

div.leftMain{
  width: 30%;
    float: left;
  margin-left:8%;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

ul.center {
  text-align: center;
  list-style-position: inside;
}